<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>App Home</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but this homepage doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <h1>This is the Django template/index.html</h1>
  <p><em>You'll see this in dev mode.</em></p>
  <p>Go to http://127.0.0.1:8000/api/v1/user/ to view the API endpoint</p>
  <p>Go to http://127.0.0.1:8000/admin/ for the Django admin login</p>
  <div id="app"></div>
</body>

</html>